<footer class="footer">
  <a href="https://www.facebook.com/bbtijamtarapage" class="footer_logo_link" target="_blank" rel="noopener noreferrer">
    <img class="footer-logo logo-light" src="{{ '/assets/images/footer_logo_light.avif' | url }}" alt="Logo" />
    <img class="footer-logo logo-dark" src="{{ '/assets/images/footer_logo_dark.avif' | url }}" alt="Logo" />
  </a>
  <p class="scripture">
    “…these entrust to faithful men, who will be able to teach others also…”  
    <br>
    <strong>II Timothy 2:2</strong>
  </p>

  <p class="address">
    Gospel Home, T.P. Road, Ushagram, Asansol - 713303
  </p>
</footer>